.img-container {
	position: relative;
	overflow: hidden;
	.img {
		width: 137px;
		height: 137px;
		// opacity: 0;
		// transition: opacity 1s;
		&.not-loaded {
			// opacity: 0;
		}
		&.is-loaded {
			// opacity: 1;
		}
	}
	.lazy-loader {
		display: block;
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		z-index: 10;
	}
}

.lazy-loader {
	display: none;
}

.ng-repeat-animate {
	&.ng-enter {
		animation: flipInX 1s;
	}
	&.ng-enter-active {
		opacity: 0.4;
	}
	&.ng-enter-stagger {
		animation-delay: .1s;
	}
}
