.img-container {
	position: relative;
	.img {
		opacity: 0;
		transition: opacity 1s;
		&.not-loaded {
			opacity: 0;
		}
		&.is-loaded {
			opacity: 1;
		}
	}
	.lazy-loader {
		display: block;
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		z-index: 10;
	}
}

.lazy-loader {
	display: none;
}

.ng-repeat-animate.ng-enter,
.ng-repeat-animate.ng-move {
  transition:1s linear all;
  opacity:0;
  &.ng-enter-active,
  &.ng-move-active {
	opacity: 1;
  }
}
