.masonry-brick {
	&.ng-enter-stagger {
		transition-delay:0.1s;
	}
	&.ng-enter {
		transform-style: preserve-3d;
		transform: translate3d(0, 50px, 0);
		opacity: 0;
		transition: transform .2s, opacity .2s;
	}
	&.ng-enter.ng-enter-active {
		transform: translate3d(0, 0, 0);
  		opacity: 1;
	}
}
